@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

input {
  outline: none;
}

.clippedStar{
  -webkit-mask: url('/star.svg') no-repeat center / contain;
  mask: url('/star.svg') no-repeat center / contain;
}